@import 'base/variables';
* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
   
}
.container {
    position: relative;
    padding-top: 69px;
    max-width: 1080px;
    margin: 0 auto;
}

.container--small {
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: 535px;
	justify-content: center;
}

body {
margin-bottom: 150px;
background-color: #009062;
}

@import 'blocks/button';
@import 'blocks/title';
@import 'blocks/description';
@import 'blocks/promo';
@import 'blocks/sale';
@import 'blocks/booklet';
@import 'blocks/communication';
@import 'blocks/media';







