.description {
    margin-top: 36px;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: $main-color;
    a {
        text-decoration: none;
        color: $main-color;
    }
    &__text {
        width: 100%;
        text-align: left;
        margin-top: 8px;
        font-style: italic;
        font-weight: 400;
        font-size: 16px;
        color: $second-color;
    }
}