.promo {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__header {
        font-weight: 800;
        font-size: 96px;
        line-height: 81%;
        color: $main-color;
        margin: 0;
    }
    &__subheader {
        margin-top: 16px;
        font-weight: 400;
        font-size: 32px;
        line-height: 105%;
        color: $main-color;
    }
    &__descr {
        font-weight: 400;
        font-style: italic;
        font-size: 20px;
        color: $second-color;
    }
    &__img {
        margin-right: 125px;
        &:before {
            display: block;
            position: absolute;
            content: '';
            width: 290px; 
            height: 215px; 
            background: url('../../img/line_1.png') center center/cover no-repeat;
            right: 25px;
            transform: translate(-45%, 65%); 
        }
        &:after {
            display: block;
            position: absolute;
            content: '';
            width: 120px; 
            height: 122px; 
            background: url('../../img/line_2.png') center center/cover no-repeat;
            top: 75px;
            transform: translate(160%, 25%); 
        }
    }

}