.promo {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__header {
        margin: 0;
        font-weight: 800;
        font-size: 96px;
        line-height: 81%;
        color: $main-color
    }
    &__subheader {
        margin-top: 16px;
        font-weight: 400;
        font-size: 32px;
        line-height: 105%;
        color: $main-color;
    }
    &__descr {
        margin-top: 8px;
        font-weight: 400;
        font-style: italic;
        font-size: 20px;
        color: $second-color;
    }
    &__img {
        margin-right: 125px;
    }
    &__line-1 {
        display: block;
        position: absolute;
        background-color: transparent;
        top: 205px;
        right: 140px;
    }
    &__line-2 {
        display: block;
        position: absolute;
        background-color: transparent;
        top: 100px;
        right: 100px;
    }
}