.sale {
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    &__visible {
        position: relative;
        margin: 20px 0 20px 0;
        font-weight: 600;
        font-size: 20px;
        text-align: center;
        color: $second-color;
        :after {
            display: block;
            position: absolute;
            content: '';
            width: 11px; 
            height: 6px; 
            background: url('../../icons/show_more.svg') center center/cover no-repeat;
        }
    }
}