
* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    background-color: #009062;
}
.container {
    position: relative;
    padding-top: 69px;
    max-width: 1080px;
    margin: 0 auto;
}

$main-color: #fff;
$second-color: #7fd0b6;

.promo {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__header {
        margin: 0;
        font-weight: 800;
        font-size: 96px;
        line-height: 81%;
        color: $main-color
    }
    &__subheader {
        margin-top: 16px;
        font-weight: 400;
        font-size: 32px;
        line-height: 105%;
        color: $main-color;
    }
    &__descr {
        margin-top: 8px;
        font-weight: 400;
        font-style: italic;
        font-size: 20px;
        line-height: 105%;
        color: $second-color;
    }
    &__img {
        margin-right: 125px;
    }
    &__line-1 {
        display: block;
        position: absolute;
        background-color: transparent;
        top: 205px;
        right: 140px;
    }
    &__line-2 {
        display: block;
        position: absolute;
        background-color: transparent;
        top: 100px;
        right: 100px;
    }

   
}